body {
    margin: 0;
}

body:not(header) {
    margin: auto;
}

nav {
    background: #d0a3a3;
    padding: 15px;
    top: 0;
    margin: 0;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            list-style-type: none;
        }
    }

    a {
        text-decoration: none;
        color: #000;
    }

}

.header {
    background: #0c162c;
    height: 100vh;
    color: white;
    display: flex;

    div:first-child {
        margin: auto;
        justify-content: center;
        padding: 40px;
    }
}

/* .logout{
    margin-top:8px;
} */
section {
    margin: 30px auto;

    h2 {
        text-align: center;
        margin: auto;
        padding: 5px;
        font-size: 2.5em;
        border-bottom: 2px solid black;
        width: fit-content;
    }

    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; */

  

    .paas,
    .saas {
        display: flex;
        justify-content: space-around;
        
    }
    .saas_content,
    .paas_content {
        background-repeat: no-repeat;
        width: 350px;
        /* background: #e8b7b7; */
        margin:  10px;
        border-radius: 10px;
        padding: 15px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 5px 6px 34px -8px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 6px 34px -8px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 6px 34px -8px rgba(0, 0, 0, 0.75);

        a {
            text-decoration: none;
            color: aliceblue;
        }

        &:not(a) {
            filter: brightness(50%);
        }

        &:hover {
            a {
                transform: scale(1.5);
            }
        }
    }
}

/* .pass_content {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    font-size: 1.4em;
    a{
        color: white;
        text-decoration: none;
    } */

.saas_content {
    background-image: url(./images/sass.png);
    /* opacity: 0.8; */

}